%h1 Editing classroom
= render 'form'
= link_to 'Show', @classroom
|
\#{link_to 'Back', classrooms_path}

/interesting syntax - used the conveter here
/started with:
/ = link_to 'Back', classrooms_path
/ but this threw up an error