header {
  background: grey;
  height: 160px;
}

h1{
  display:inline-block;
}

h1.h5bp {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url(https://ga-core-production-herokuapp-com.global.ssl.fastly.net/assets/ga-lockup-61c4920d0981703871ab3256bc786a2f.png);
  width: 880px;
  height: 95px;
}

/*nav {
  max-width: 60%;
  margin-top: 0;
  margin-left:200px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  float: right;
}

header nav ul li:first-child {
  float: left;
  color: white;
}

header nav ul li a {
  height: 60px;
  line-height: 60px;
}*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #686868;
    background-color: #E0E0E0;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}



nav ul li a:hover, a:active {
    background-color: #FFFFFF;
}

nav ul li:last-child {
  float: right;
}

nav ul li:nth-last-child(2) {
  float: right;
}

nav ul li:nth-last-child(3) {
  float: right;
}

