header {
  background: grey;
  height: 60px;
}

header nav {
  max-width: 960px;
  margin: 0 auto;}

header nav ul {
  list-style-type: none;

}

header nav ul li {
  display: inline;
  height: 60px;
  line-height: 60px;
  float: right;
}

header nav ul li:first-child {
  float: left;
  color: white;
}


header nav ul li a {
  height: 60px;
  line-height: 60px;
}

